.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(168, 168, 168, 0.25);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.innerModal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    max-width: 1200px;
    height: 500px;
    flex-direction: column;
    gap: 40px;
    background-color: var(--Modal);
    border-radius: 8px;
    padding: 20px;
    z-index: 5;

    button {
        width: 50%;
        height: 35px;
        background: var(--ModalBtn);

        &:hover {
            border: 1px solid var(--TextGeneral);
            box-shadow: var(--BoxShadow);
        }
    }

    @media (max-width: 768px) {
        width: 70%;
        height: auto;

        gap: 20px;
        padding: 15px;

        button {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        width: 90%;
        height: auto;
        padding: 10px;

        button {
            width: 100%;
        }
    }
}