.FrameGraph {
  display: flex;
  border-radius: 8px;
  background-color: var(--GraphsContainer);
  padding: 10px;
  justify-content: space-around;
  flex-direction: column;

  p {
    color: var(--TextGeneral);
    font-size: 18px;
  }
}