.pageContainer {
  .lines {
    height: 87vh;
    width: 180px;
    background: linear-gradient(var(--Bg), var(--Aside));
    box-shadow: 10px 0px 24px rgba(168, 168, 168, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .calendar{
      text-align: center;
      color: var(--TextGeneral);
    }

    .divider{
      width: 180px;
      height: 1px;
      border: 1px solid var(--TextGeneral);
    }
  }
}
