.pageContainer {
  .lines {
    height: 87vh;
    width: 11.25rem;
    background: linear-gradient(var(--Bg), var(--Aside));
    box-shadow: 10px 0px 24px rgba(168, 168, 168, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--TextGeneral);
    gap: 12px;
    padding: 15px;
    justify-content: space-between;


    .top {
      display: flex;
      flex-direction: column;
      gap: 20px;


      .calendar {
        text-align: center;
        padding-top: 10px;
        user-select: none;
        cursor: pointer;

        &:hover {
          background: rgba(168, 168, 168, 0.25);
        }
      }

      .date {
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        user-select: none;

        h2 {
          font-size: 30px;
        }

      }

      

      .selectSensor {
        appearance: none;
        border: none;
        border-bottom: 1px solid var(--TextGeneral);
        background: transparent;
        color: var(--TextGeneral);
        width: 100%;
        font-size: 16px;
        outline: none;
        cursor: pointer;

        &:hover {
          background: rgba(168, 168, 168, 0.25);
        }

        .options {
          background-color: var(--Bg);
        }
      }

    }

    .Timer {
      justify-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0px;
      gap: 15px;

      width: 11.25rem;
      height: 51px;

      h1 {
        width: 11.25rem;
        height: 1.62rem;

        font-weight: 700;
        font-size: 40px;
        line-height: 20px;
        margin-bottom: 0.93rem;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      h2 {
        width: 11.25rem;
        height: 1.25rem;
        font-weight: 400;
        font-size: 19px;
        line-height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    input {
      cursor: pointer;
    }
  }

  .Home {
    width: 100%;
    height: 87vh;
    overflow-y: scroll;


    .greetings {
      padding-top: 35px;
      color: var(--TextGeneral);
    }

    .graphs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;

      .graphsTop {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .MainGraph {
          width: 1280px;
          height: 350px;
          border-radius: 8px;
          background-color: var(--GraphsContainer);
          padding: 10px;

          p {
            color: var(--TextGeneral);
            font-size: 18px;
          }
        }

        .tempContainer {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .TempGraph {
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 168px;
            background-color: var(--GraphsContainer);
            border-radius: 8px;
            padding: 10px;
            align-items: center;

            p {
              color: var(--TextGeneral);
              font-size: 18px;
            }

            img {
              width: 75px;
              height: 75px;
            }
          }

          .TempIntGraph {
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 168px;
            background-color: var(--GraphsContainer);
            border-radius: 8px;
            padding: 10px;
            align-items: center;

            p {
              color: var(--TextGeneral);
              font-size: 18px;
            }

            img {
              width: 75px;
              height: 75px;
            }
          }
        }

        .temp {
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-align: center;
          align-items: center;

          span {
            font-size: 70px;
            color: var(--TextGeneral);
          }
        }
      }

      .graphsBot {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .graphPizza {
          width: 350px;
          height: 320px;
          background-color: var(--GraphsContainer);
          border-radius: 8px;
          padding: 10px;

          p {
            color: var(--TextGeneral);
            font-size: 20px;
          }
        }

        .graphBar {
          width: 910px;
          height: 320px;
          background-color: var(--GraphsContainer);
          border-radius: 8px;
          padding: 10px;
          gap: 18px;

          p {
            color: var(--TextGeneral);
            font-size: 20px;
            padding-bottom: 60px;
          }
        }

        .dropDownBtns {
          display: flex;
          flex-direction: column;
          min-height: 320px;
          justify-content: space-evenly;
          height: auto;
          background-color: var(--GraphsContainer);
          border-radius: 8px;
          padding: 10px;
          gap: 8px;

          p {
            color: var(--TextGeneral);
            font-size: 20px;
          }
        }
      }

      .dropDownBtnsBot {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

}