.frame {
    display: flex;
    width: 38.75rem;
    justify-content: space-around;
    box-shadow: var(--BoxShadow2);
    height: 70px;
    border-radius: 8px;
    align-items: center;

    .frameBtn {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 15rem;
     height: 40px;
     background: none ;
     border: 1px solid var(--TextGeneral);
     border-radius: 20px;
     color: var(--TextGeneral);

     &:hover {
      background-color: var(--Blue);
      color: var(--TextGeneralAlt);
     }
    }
    
    .darkBtn {
     button {
      background-color: var(--Bg);
      box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
      width: 40px;
      height: 40px;
      margin: 0;
      color: var(--TextGeneral);
      border: 1px solid var(--TextGeneral);
      border-radius: 20px;
     }
    
    button:hover {
      background-color: var(--Grey);
      color: var(--Bg);
    }
  }
}