.barchart {
  width: 100%;
  padding: 10px;
  position: relative;
  align-content: center;
}

.barContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.barLabel {
  width: 50px;
  padding-right: 10px;
  font-weight: bold;
  color: var(--TextGeneral);
  text-transform: uppercase;
  text-align: right;
  border-right: 1px solid var(--TextGeneral);
  margin-right: 10px;
}

.bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.barFill {
  height: 100%;
  background-color: #3b82f6;
  transition: width 0.4s ease;
  border-radius: 5px 0 0 5px;
  position: relative;

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  background-color: var(--GraphsContainer);
  color: var(--TextGeneral);
  padding: 2px;
  border: 1px solid var(--TextGeneral);
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
}

.xAxis {
  display: flex;
  justify-content: space-between; /* Espaço igual entre os rótulos */
  padding-top: 5px;
  border-top: 1px solid var(--TextGeneral); /* Linha divisora entre barras e eixo X */
  width: 92%; /* Ajusta a largura para deixar espaço nas laterais */
  margin: 0 8%; /* Centraliza o eixo X */
}

.xLabel {
  font-size: 12px;
  color: var(--TextGeneral);
  text-align: center; /* Centraliza o texto */
}