.Container {

    img {
      width: 75px;
      height: 75px;
      transition: width 0.3s, height 0.3s;
    }

    .innerC {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;

      span {
        font-size: 70px;
        color: var(--TextGeneral);
        transition: font-size 0.3s;
      }
    }
  }