.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  
  .innerForm {
     width: 38.75rem;
     flex-direction: column;
     box-shadow: var(--BoxShadow2);
     padding: 20px;
     gap: 12px;
     color: var(--TextGeneral);
     margin-top: 10%;

    h1{
      margin-bottom: 20px;
    }

    .btnAuth {
      width: 26.25rem;
      padding: 10px;
      background-color: var(--Blue);
      color: #ECF3F4;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      animation-name: clicking;
      animation-duration: 2s;
    }
      
    .btnAuth:hover {
      animation-name: clicking;
      animation-duration: 2s;
      background-color: var(--FormsBtnHover);
    }

    .loginInput {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .inputGroup {
      position: relative;
      margin-bottom: 1.87rem;

      input {
        width: 36.25rem;
        padding: 10px;
        border-radius: 4px;
        background: none;
        border: none;
        border-bottom: 1px solid var(--Grey);
        color: var(--TextGeneral);
        margin-top: 10px;
        transition: border-color 0.3s ease-in-out;

        &:focus {
          outline: none;
          border-bottom: 2px solid var(--TextGeneral);
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: -10px;
          left: 0;
          font-size: 12px;
        }
      }

      label {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
        color: var(--TextGeneral);
        pointer-events: none;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.extraButtons {
  button {
    align-items: center;
    align-content: center;
    background-color: var(--Grey);
    box-shadow: 0px 0px 6px black;
    width: 50px;
    height: 50px;
  }

  button:hover {
    background-color: var(--Black);
  }
}

@keyframes clicking {
  from { background-color: var(--Blue); }
  to { background-color: var(--FormsBtnHover); }
}