.verticalBarGraph rect {
  display: flex;
  justify-content: space-around;
  &:hover {
    border: 1px solid var(--TextGeneral);
  }
}

.tooltip {
  width: 15%;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  background: var(--ModalBtn);
  border-radius: 4px;
  pointer-events: none;
  border: 1px solid var(--TextGeneral);
  white-space: nowrap;
}

.tooltip-style1 {
  width: 15%;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  background: var(--ModalBtn);
  border-radius: 4px;
  pointer-events: none;
  border: 1px solid var(--TextGeneral);
  white-space: nowrap;
}

.tooltip-style2 {
  position: absolute;
  width: 40px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  background: var(--ModalBtn);
  border-radius: 4px;
  pointer-events: none;
  border: 1px solid var(--TextGeneral);
  white-space: nowrap;
  transform: translate(-50%, -100%);
  color: var(--TextGeneral);
}