.verticalBarGraph rect {
  transition: height 0.5s ease-in-out, y 0.5s ease-in-out; // Adiciona transição para altura e posição Y
  &:hover {
    border: 1px solid var(--TextGeneral);
  }
}

.tooltip {
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
