.graphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  text-align: center;

  .graphsTop {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .tempContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;
      text-align: center;

      @media (max-width: 1024px) {
        width: 9;
      }

    }
  }

  .graphsBot {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .humidityContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;
      text-align: center;
      margin-right: 0.7%;
    }

    .dropDownBtns {
      display: flex;
      flex-direction: column;
      min-height: 270px;
      justify-content: space-evenly;
      gap: 8px;


      p {
        color: var(--TextGeneral);
        font-size: 20px;
      }
    }

    .gustWind {
      width: 15%;
      min-height: 270px;
      @media (max-width:1440px) {
        width: 19.5%;
      }
    }
  }

  .dropDownBtnsBot {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  

  @media (max-width: 768px) {


    .tempContainer {
      display: flex;
      flex-direction: column !important;
    }




    .tempContainer .TempGraph img {
      width: 50px;
      height: 50px;
    }

    .tempContainer .TempGraph .temp span {
      font-size: 40px;
    }

    .dropDownBtns {
      min-height: 200px;
      flex-direction: column !important;
    }

    .dropDownBtns p {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    gap: 12px;

    .tempContainer .TempGraph img {
      width: 40px;
      height: 40px;
    }

    .tempContainer .TempGraph .temp span {
      font-size: 30px;
    }

    .dropDownBtns p {
      font-size: 14px;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}